---
import { fade } from 'astro:transitions';

// Data
import contactInfo from '../../config/contact.json';

import { Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import SubtitleDecorator from '../SubtitleDecorator.astro';
---

<section
  class="contact container"
  id="contact"
  transition:animate={fade({ duration: '4s' })}
>
  <h2 class="subtitle">
    Contact
    <span class="subtitle-esp"> Contacto</span>
    <span class="subtitle-decorator">
      <SubtitleDecorator />
    </span>
  </h2>
  <div class="contact-card">
    <div class="contact-image">
      <Picture
        src={contactInfo.img.src}
        alt={contactInfo.img.alt}
        width={200}
        height={200}
        formats={['avif', 'webp']}
      />
    </div>
    <div class="contact-text">
      <h3>Would like talk about your party?!</h3>
      <p class="contact-pharagraph">
        <Icon name="mdi:calendar-clock" class="icon-xxl" />
        <span>
          {contactInfo.schedule}
        </span>
      </p>
      <p class="contact-pharagraph">
        <Icon name="mdi:cellphone" class="icon-xxl" />
        <span class="link border-dotted-bottom">
          <b>
            {contactInfo.phone}
          </b>
        </span>
      </p>
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="contact-pharagraph"
      >
        <Icon name="mdi:facebook-messenger" class="icon-xxl" />
        <span class="border-dotted-bottom">
          <b>
            {contactInfo.messenger}
          </b>
        </span>
      </a>
      <a href="#" class="contact-pharagraph">
        <Icon name="mdi:location-radius" class="icon-xxl" />
        <span class="border-dotted-bottom">
          {contactInfo.address}
        </span>
      </a>
      <p class="text-center contact-comment">
        <b> Better yet, see us in person!</b>
      </p>
      <p class="text-center contact-comment">
        We love our customers, so feel free to visit during normal business
        hours.
      </p>
    </div>
  </div>
</section>
