---
import { Picture } from 'astro:assets';
import { getCollection } from 'astro:content';
import Decorator from '../../components/Decorator.astro';
import SubtitleDecorator from '../SubtitleDecorator.astro';

const events = await getCollection('events');
---

<section class="events" id="events">
  <h2 class="subtitle">
    Events
    <span class="subtitle-esp">Eventos</span>
    <span class="subtitle-decorator">
      <SubtitleDecorator />
    </span>
  </h2>
  <p class="paragraph">
    Bring all the joy of your event to our venue and let's celebrate together,
    it can be any of these events, or whatever you need.
  </p>
  <div class="events__container">
    {
      events.map((event) => (
        <div class="event">
          <div class="event__image">
            <Picture
              src={event.data.heroImage}
              formats={['avif', 'webp']}
              height={event.data.imageAttr.height}
              width={event.data.imageAttr.width}
              alt={event.data.imageAttr.alt}
            />
          </div>
          <div class="event__content">
            <h3 class="event__title">{event.data.title}</h3>
            <Decorator />
            <div class="event__text">
              {event.render().then(({ Content }) => (
                <Content />
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
<script>
  let events = document.querySelectorAll('.event');

  const eventsObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
      } else {
        entry.target.classList.remove('visible');
      }
    });
  }, {});

  events.forEach((eventElement) => {
    eventsObserver.observe(eventElement);
  });
</script>
