---
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';

// Components
import CarouselGallery from '../CarouselGallery.astro';

import SubtitleDecorator from '../SubtitleDecorator.astro';

const albums = await getCollection('albums');
---

<section class="gallery" id="gallery">
  <h2 class="subtitle">
    gallery
    <span class="subtitle-esp">Galeria</span>
    <span class="subtitle-decorator">
      <SubtitleDecorator />
    </span>
  </h2>
  <p class="paragraph">
    Beautiful moments that our clients have shared with us, here is a sample of
    them.
  </p>
  <div class="gallery__container">
    {
      albums.map((album) => (
        <CarouselGallery title={album.data.title}>
          <div class="carousel__slides">
            {album.data.pictures.map((picture) => (
              <Picture src={picture} alt={album.data.altImage} />
            ))}
          </div>
          <div class="carousel__thumbnails">
            {album.data.pictures.map((picture) => (
              <Picture src={picture} alt={album.data.altImage} />
            ))}
          </div>
        </CarouselGallery>
      ))
    }
  </div>
</section>
