---
import { Picture, Image } from "astro:assets";
import cameraIcon from "../assets/icons/camera.png";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  imageAttr: {
    alt: string;
    width: number;
    height: number;
  };
  pictures: string[];
}

const { title, imageAttr, pictures } = Astro.props;
---

<div class="carousel">
  <div class="carousel__title">
    <span>
      <Icon name="mdi:camera-enhance" class=" icon-secondary icon-xxl" />
    </span>
    <h2>
      {title}
    </h2>
  </div>
  <div class="carousel__item"></div>
  <div class="carousel__slide--mini">
    {
      pictures.map((picture) => (
        <Picture
          src={picture}
          alt={imageAttr.alt}
          width={imageAttr.width}
          height={imageAttr.height}
        />
      ))
    }
  </div>
</div>
